.brand {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.brand img {
    width: 35px;
    height: auto;
}

.brand p {
    font-weight: 900;
    font-size: 28px;
}
