@font-face {
    font-family: 'albert-sans-regular';
    src: url(./fonts/albert-sans/albert-sans-regular.ttf);
}

:root {
    --edges-l: clamp(60px, 10vw, 120px);
    --edges-s: clamp(30px, 10vw, 60px);
    --edges-xs: clamp(15px, 10vw, 30px);
    --albert-sans-regular: 'albert-sans-regular';
}

* {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}

body {
    height: 100vh;
    width: 100vw;
}

.active {
    font-weight: 700;
}
