:root {
    --edges-l: clamp(60px, 10vw, 120px);
    --edges-s: clamp(30px, 10vw, 60px);
    --edges-xs: clamp(15px, 10vw, 30px);
    --light-blue: #0099ff;
    --dark-blue: #000033;
}

* {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    color: var(--dark-blue);
}

body {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.active {
    font-weight: 700;
}
