.github_repository {
    grid-area: 1/3/2/4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.github_repository img {
    width: 30px;
    height: auto;
}

.landing_container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    text-align: center;
}

.landing_container h1 {
    font-size: 48px;

    font-weight: 900;
}

.landing_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 12px;
}

.landing_links {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.landing_links button {
    font-weight: 700;
    padding: 12px;
    border: 2px solid transparent;
    color: white;
    background-color: var(--dark-blue);
    border-radius: 12px;
}

.landing_links .auto {
    background-color: transparent;
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
}

.menu {
    display: none;
}

.menu_image {
    display: none;
}

.menu_nav {
    display: none;
}

@media (min-width: 0px) and (max-width: 768px) {
    .github_repository {
        display: none;
    }

    .menu {
        display: flex;
        grid-area: 1/2/2/4;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .menu_image {
        grid-area: 1/2/2/4;
        display: flex;
        z-index: 999;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .nothing {
        display: none;
    }

    .menu_image img {
        width: 25px;
        height: auto;
    }

    .menu_nav {
        position: absolute;
        gap: 24px;
        top: 0px;
        bottom: 0px;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 50%;
        max-width: 200px;
        background-color: white;
        padding: var(--edges-xs);
        padding-top: 75px;
        padding-right: 0px;
        padding-bottom: 0px;
        border-left: 1px solid var(--dark-blue);
    }

    .menu_nav > .github_repository a {
        gap: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        text-decoration: none;
        font-weight: 700;
    }

    .menu_nav > .github_repository {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
}
